

// SCOPED through page name
.page-wrapper.about-page
  +absolute-fill
  overflow-y: scroll
  z-index: $about-z
  
  // Transition in
  &.page-transition-enter
    transform: translateY(-100%)
    .content
      .page-header
        transform: translateY(-100%)
        .site-title, .site-subtitle
          opacity: 0
      .page-body
        opacity: 0

  &.page-transition-enter-active
    transform: translateY(0)
    transition: transform 1100ms cubic-bezier(.666,0,.333,1)
    .content
      .page-header
        transition: transform 1100ms cubic-bezier(.08,.25,.5,1) $med
        transform: translateY(0%)
        .site-title, .site-subtitle
          transition: opacity $med ease 1600ms
          opacity: 1
      .page-body
        opacity: 1
        transition: opacity $med ease 1900ms

  // Transition out
  &.page-transition-exit
    transition: transform 1s cubic-bezier(.666,0,.333,1)
    transform: translateY(0)
    .content
      .page-header
        .site-title, .site-subtitle
          transition: opacity $fast ease-out
          opacity: 1
      .page-body
        transition: opacity $fast ease-out
        transition-delay: 0ms !important
        opacity: 1
  &.page-transition-exit-active
    transform: translateY(-100%)
    .content
      .page-header
        .site-title, .site-subtitle
          opacity: 0
      .page-body
        opacity: 0

  $copy-color: #444
  .content
    width: 100%
    position: relative
    padding-bottom: 50px
    color: $copy-color

    .page-header
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      height: 40vh
      background: rgba(255, 255, 255, 0.9)
      .site-title
        +middle-brother-font
        margin-bottom: 0.5em
      .site-subtitle
        text-align: center
        max-width: 300px
        font-family: $calluna-stack
        letter-spacing: 0.1em
        font-weight: 100
        font-size: 11px
        line-height: 16px

    .page-body
      display: flex
      align-items: flex-start
      flex-direction: column

    .question-text
      display: inline-block
      width: span(16 of 16)
      // margin-left: span(1 of 16)
      padding: $nav-padding
      // padding-left: 0
      padding-top: 100px

    .project-text
      display: inline-block
      padding: $nav-padding
      margin-top: 100px
      width: span(16 of 16)
      max-width: 380px
      .copy
        line-height: 1.3em !important

    .section-header
      +about-copy-font
      display: inline-block
      font-family: $calluna-stack
      letter-spacing: 0.01em
      font-weight: 100
      height: 1.6em
      margin-bottom: 2em
      // width: 100%
      position: relative
      &:after
        content: ''
        display: block
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 1px
        background: rgba(255,255,255,1)
        
    .copy-block
      position: relative
      display: block
      margin: auto
      width: 100%
      margin-bottom: 3em

      .index
        display: none
        +about-subheader-font
        font-family: $freight-stack
        font-weight: 100
        position: absolute
        top: 0
        left: -10px
        border-bottom: 1px solid rgba(255,255,255,1)

      .header
        // +about-subheader-font
        +about-copy-font
        margin-bottom: 0.8em
        font-weight: 500

      .copy
        +about-copy-font

      a:hover
        font-style: italic

    .bg-color, .bg-texture, .bg-solid
      +absolute-fill
      z-index: -5
    .bg-color
      background: black
      opacity: 0.1
    .bg-texture
      opacity: 0.4
    .bg-solid
      background: white
      z-index: -20

+after-sm-mobile
  .page-wrapper.about-page
    .content    
      .page-body
        display: flex
        flex-direction: unset
      .question-text
        width: span(8 of 16)
        // margin-left: span(1 of 32)
        margin-top: 100px
        padding: $nav-padding

      .project-text
        width: span(8 of 16)
        // margin-left: span(1 of 16)
        padding: $nav-padding

+after-bg-mobile
  .page-wrapper.about-page
    .content    
      .question-text
        width: span(8 of 16)
        margin-left: span(1 of 16)
        padding: $nav-padding

      .project-text
        width: span(6 of 16)
        margin-left: span(1 of 16)
        padding: $nav-padding
        border-left: 1px solid rgba(255, 255, 255, 1)

+after-sm-desktop
  .page-wrapper.about-page
    .content    
      .copy-block
        // width: span(8 of 16)