
@mixin center
  position: absolute
  top: 50%
  left: 50%
  width: 50%
  transform: translate(-50%, -50%)

.background
  .system-image
    +center
    left: 55%
    top: 45%
    max-height: 50%
    z-index: -5
    transition: opacity $fast ease-in
    opacity: 1

  .system-icon
    +center
    width: 30%
    left: 40%
    top: 60%
    z-index: -10

  .texture
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -15

  // Selector Page
  &.selector
    .system-image
      opacity: 0.2
      transition: opacity $fast ease-out

    .system-icon
      opacity: 0
      transition: opacity $fast ease-out

  // Transition Page
  &.transition
    .system-image
      opacity: 1

    .system-icon
      opacity: 1
      transition: opacity $fast ease-out

  // Simulation Page
  &.simulation
    .system-image
      opacity: 0.15
      position: absolute
      left: -50%
      top: 0
      height: 100%
      width: auto
      transform: none
      transition: opacity $slow ease-out

    .system-icon
      opacity: 0

 