
@mixin center
  position: absolute
  top: 50%
  left: 50%
  width: 50%
  transform: translate(-50%, -50%)

.background
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  padding: 32px
  z-index: $background-z
  .content
    width: span(7 of 16)
    margin-left: span(6 of 16)
    height: 60%
    position: relative

    .system-image
      position: absolute
      top: 0
      left: span(1 of 7)
      width: 100%
      max-height: 90%
      z-index: -5
      transition: opacity $fast ease-in
      opacity: 1

    .system-icon
      position: absolute
      top: 20%
      width: span(4 of 7)
      left: 0
      z-index: -10

  .texture
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -15
    opacity: 0.4

  // Selector Page
  &.selector
    .system-image
      opacity: 0.1
      transition: opacity $fast ease-out

    .system-icon
      opacity: 0
      transition: opacity $fast ease-out

  // Transition Page
  &.transition
    .system-image
      opacity: 1

    .system-icon
      opacity: 1
      transition: opacity $fast ease-out

  // Simulation Page
  &.simulation
    .system-image
      opacity: 0.15
      position: absolute
      left: -50%
      top: 0
      height: 100%
      width: auto
      transform: none
      transition: opacity $slow ease-out

    .system-icon
      opacity: 0

 