

.navbar
  position: absolute
  top: 0
  width: 100%
  height: 30px
  display: flex
  justify-content: space-between
  padding: 12px 32px
  z-index: $nav-z
  +poppins-font

  .about-link
    +hoverline
    cursor: pointer

  &.light
    color: $light
    .about-link
      &:after
        background: $light

.canvas-base
  width: 100%
  height: 100%