
//////////////////////////////////////////////////
//
// Canvas Base
//
//////////////////////////////////////////////////

.canvas-base
  width: 100%
  height: 100%


//////////////////////////////////////////////////
//
// SVG Outline
//
//////////////////////////////////////////////////

.svg-outline-container
  display: block
  position: relative
  min-width: 10px
  min-height: 10px

  .svg-outline
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    fill: transparent

  .fill-container
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: transform $fast cubic-bezier(.07,.13,.38,1)
    transform: translateY(100%)
    overflow: hidden

    .svg-fill
      transition: transform $fast cubic-bezier(.07,.13,.38,1)
      transform: translateY(-100%)
      height: 100%
      width: 100%

  .hovering &
    cursor: pointer
    .fill-container
      transition: transform $fast cubic-bezier(.07,.13,.38,1)
      transform: translateY(0)
      .svg-fill
        transition: transform $fast cubic-bezier(.07,.13,.38,1)
        transform: translateY(0)

//////////////////////////////////////////////////
//
// Button Wrapper
// 
//////////////////////////////////////////////////

.button-wrapper
  position: relative
  .active-area
    cursor: pointer
    position: absolute
    left: -10%
    top: -10%
    width: 120%
    height: 120%
    z-index: 10

//////////////////////////////////////////////////
//
// Pentagon Wheel
// 
//////////////////////////////////////////////////

// Forces porportionality 
.pentagon-container
  +aspect-ratio(1, 1)
  .pentagon-inner
    +absolute-fill

//////////////////////////////////////////////////
//
// Break
// <div class='break'>
// 
//////////////////////////////////////////////////
.break
  width: 100%
  height: 20px