

// SCOPED through page name
.page-wrapper.intro-page
  +absolute-fill

  // Transition in
  &.page-transition-enter
    transition: opacity 1s cubic-bezier(.666,0,.333,1)
    opacity: 0

  &.page-transition-enter-active
    opacity: 1
      
  &.page-transition-exit
    transition: transform 1s cubic-bezier(.666,0,.333,1) $fast
    transform: translateY(0)
    .content
      transition: opacity $med ease-out 
      opacity: 1
  &.page-transition-exit-active
    transform: translateY(-100%)
    .content
      transition: opacity $med ease-out
      opacity: 0

  .content
    +absolute-fill
    display: flex
    flex-direction: column
    justify-content: center
    // align-items: center

    .text-container
      display: block
      // width: span(8 of 16)
      // margin-left: span(5 of 16)
      position: relative

      .project-title
        +title-font
        font-weight: 500
        margin-bottom: 0.6em
        text-align: left
        display: block
        width: span(5 of 8)
        margin-left: span(5 of 16)
        span
          margin: 0 0.1em
        span:first-of-type
          margin-left: 0 

      h4
        +title-body
        color: #444
        text-align: left
        display: block
        width: span(6 of 16)
        margin-left: span(7 of 16)

    .static-pentagon-wrapper
      // +absolute-fill
      // display: flex
      // justify-content: center
      // align-items: center
      // transition: transform 2s cubic-bezier(.666,0,.333,1) 1s
      // // transition: opacity $slow ease-out
      // pointer-events: none
      margin-left: span(5 of 16)
      position: relative
      // top: -50px
      .static-pentagon
        transition: opacity $slow ease-out 2s
        width: 180px
        fill: none
        stroke: black
        stroke-width: 1px
        opacity: 0

    .start-button-container
      position: absolute
      left: 50%
      transform: translate(-50%) 
      bottom: 80px
      .start-button
        // border: 1px solid rgba(0, 0, 0, 0.3)
        // padding: 12px
        +hoverline
        font-family: $calluna-stack
        font-size: 14px
        font-weight: 100
        letter-spacing: 0.04em
        text-align: center
        font-style: normal
        padding-bottom: 6px
        z-index: 10
        &:after
          background: #666
          transform: scaleX(0.1)
        
    .spinner-pentagon
      position: absolute
      top: 50%
      left: 50%
      $width: 60px
      margin-left: -$width / 2
      margin-top: -$width / 2
      width: $width
      animation: spin 4s linear infinite
      fill: none
      stroke: black
      stroke-width: 2px
      transition: opacity $med ease-out $fast
    
    @keyframes spin 
      from
        transform: rotate(0deg)
      to
        transform: rotate(360deg)

  &.state0
    .spinner-pentagon
      opacity: 0
      pointer-events: none
    .static-pentagon-wrapper .static-pentagon
      opacity: 1

  &.state7
    // transform: translateX(-50%)

  .bg-color, .bg-texture, .bg-solid
    +absolute-fill
    z-index: -5
  .bg-color
    background: $about-color
  .bg-texture
    opacity: 0.4
  .bg-solid
    background: white
    z-index: -20
  
// +after-sm-mobile
//   &.state3
//     .pentagon-wrapper
//       transform: translateX(-50%)

// +after-bg-mobile
//   &.state3
//     .pentagon-wrapper
//       transform: translateX(-50%)

// +after-md-desktop
//   &.state3
//     .pentagon-wrapper
//       transform: translateX(-50%)
//       margin-left: 40px
