// Hover Styles
@mixin hoverline 
  position: relative
  height: 22px
  overflow: hidden
  &:after
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    background: $dark
    height: 1.8px
    border-radius: 10px
    transform: translateX(-101%)
    transition: transform $fast ease 

  .light &:after
    background: $light
    
  &:hover
    &:after
      transform: translateX(0)
  
.navbar
  position: absolute
  top: 15px
  width: 100%
  height: 30px
  display: flex
  justify-content: space-between
  padding: 12px 28px
  z-index: $nav-z
  +poppins-font

  .about-link
    +hoverline

  .back-link
    +hoverline
    cursor: pointer
    .thin-arrow 
      width: 26px
      .line, .point
        stroke: black
        fill: none

  &.light
    color: $light
    cursor: pointer
    .about-link
      color: $light
      &:after
        background: $light

    .back-link
      .thin-arrow
        stroke: white