
// 
// MOBILE
// 
.navbar
  position: fixed
  top: 0
  width: 100%
  height: $nav-height
  display: flex
  justify-content: space-between
  align-items: center
  padding: $nav-padding
  z-index: $nav-z
  +nav-font
  border-bottom: 1px solid rgba(255, 255, 255, 1)
  opacity: 0
  pointer-events: none
  // transform: translateY(-100%)
  transition: opacity $fast ease-in
  background: white
  &:after
    content: ''
    position: absolute
    top: $nav-height
    left: 0
    right: 0
    height: 50px
    opacity: 0.3
    pointer-events: none
    position: fixed
    transition: opacity $fast ease-in $fast
    background: linear-gradient(rgba(0,0,0,.15),transparent)
    box-shadow: 0 -1px 0 hsla(0,0%,100%,.1)
  &.scrolled 
    opacity: 1
    transform: translateY(0)
    transition: opacity $med ease-out
  &.inactive
    pointer-events: none
  &.about-page
    opacity: 1
    background: none
    border: none
    transition: background $fast ease-out, opacity $fast ease-out
    &:after
      opacity: 0
      transition: opacity $fast ease-out

  &.scrolled
    opacity: 1
    &.about-page
      border-bottom: 1px solid rgba(255, 255, 255, 1)
      opacity: 0
      pointer-events: none
      // transform: translateY(-100%)
      transition: opacity $fast ease-in
      background: white
      &:after
        content: ''
        position: absolute
        top: $nav-height
        left: 0
        right: 0
        height: 50px
        opacity: 0.3
        pointer-events: none
        position: fixed
        transition: opacity $fast ease-in
        background: linear-gradient(rgba(0,0,0,.15),transparent)
        box-shadow: 0 -1px 0 hsla(0,0%,100%,.1)
      &.scrolled 
        opacity: 1
        transform: translateY(0)
        transition: opacity $med ease-out
        

  .title-link, .about-link
    height: 24px
    letter-spacing: 0.1em
    top: 3px
    text-transform: capitalize
    cursor: pointer
    pointer-events: visible
    overflow: hidden
    position: relative

  .title-link
    .link-inner
      transition: transform $slow cubic-bezier(.666,0,.333,1) $med
      transform: translateX(0em)
      
      $arrow-left: 12px
      div:first-of-type
        position: absolute
        display: block
        top: 0
        width: 5px
        // height: 22px
        left: -$arrow-left
        &:after
          content: ''
          display: block
          position: absolute
          top: 8px
          left: 0px
          width: 6px
          height: 1px
          border-radius: 50%
          background: black
        .small-arrow
          display: none
        //   height: 3px
        //   fill: none
        //   stroke: none
        //   width: 3px
        //   top: -11px
        //   border-radius: 50%
        //   background: black
        //   stroke-width: 0.1em
        //   .horizontal
        //     stroke: none
      div
        height: 22px
        position: absolute
        top: -100%
      div:last-of-type
        padding-left: $arrow-left
        left: -$arrow-left
        +hoverline
      &.active
        transform: translateX($arrow-left)
  
  .about-link
    width: 5em
    .link-inner
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 2em
      text-align: right
      transition: transform $slow cubic-bezier(.666,0,.333,1)
      div
        height: 22px
        +hoverline
        position: absolute
        top: -100%
        right: 0
      div:last-of-type
        top: 0
  
.navbar.about-page
  .about-link
    .link-inner
      transform: translateY(100%)

// +after-bg-mobile

// 
// DESKTOP
// 
+after-sm-mobile
  .navbar
    // border: none
    // opacity: 1
    // background: none
    // &:after
    opacity: 1 
    &.intro-page
      display: none
      transform: translateY(-100%)
    &.selector-page, &.transition-page, &.simulation-page
      background: none
      border: none
      &:after
        opacity: 0
      // background: rgba(255, 255, 255, 0.3)