// Hover Styles
@mixin hoverline 
  position: relative
  height: 24px
  overflow: hidden
  &:after
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    background: $dark
    height: 1.2px
    opacity: 1
    transform: translateY(2px)
    transition: transform $fast ease, opacity $fast ease 
  .light &:after
    background: $light
  &:hover
    &:after
      opacity: 1
      transform: translateY(-2px)

@mixin slide-in
  opacity: 0
  transform: translateY(100%)
  transition: $med transform $slow ease, $med opacity $slow ease
  &.active 
    opacity: 1
    transform: translateY(0)

// 
// MOBILE
// 
.navbar
  position: fixed
  top: 0
  width: 100%
  height: $nav-height
  display: flex
  justify-content: space-between
  align-items: center
  padding: $nav-padding
  z-index: $nav-z
  +poppins-font
  font-weight: 400
  +slide-in

  .title-link
    letter-spacing: 0.05em
    cursor: pointer
    text-transform: uppercase
    +hoverline

  .about-link
    height: 22px
    overflow: hidden
    .slider
      display: flex
      flex-direction: column
      align-items: flex-end
      text-align: right
      transition: transform $slow cubic-bezier(.666,0,.333,1)
      span
        +hoverline
        display: block
      span:last-of-type
        width: 3.1em

  &.light
    color: $light
    cursor: pointer
    .about-link
      color: $light
      &:after
        background: $light
        opacity: 1
        transform: translateY(-2px)

// 
// DESKTOP
// 
+after-bg-mobile
  .navbar
    border: none