
$pentagon-width: span(6 of 16)

// SCOPED through page name
.page-wrapper.selector-page
  width: 100vw
  height: 100vh

  // Transition in
  &.page-transition-enter
    opacity: 0
    // transform: translateX(-100%)

  &.page-transition-enter-active
    transition: opacity 1s cubic-bezier(.666,0,.333,1) $slow
    opacity: 1
       
  // Transition out
  &.page-transition-exit
    opacity: 1
     
  &.page-transition-exit-active
    transition: opacity 666ms cubic-bezier(.666,0,.333,1)
    opacity: 0

  .content 
    display: flex
    align-items: center
    justify-content: flex-start
    margin-left: -$pentagon-width / 1.65
    height: 100%

    .pentagon-icon
      display: inline-block
      width: $pentagon-width
      // width: span(18 of 32)
      pointer-events: visible
      svg
        transform: scale(1)
      &.pentagon-icon-enter svg
        transform: scale(0)
      &.pentagon-icon-enter-active svg
        transform: scale(1)

    .arrows-container
      display: inline-flex
      width: span(3 of 32)
      max-height: 85%
      // margin-right: span(1 of 32)
      float: left
      height: 100%
      flex-direction: column
      justify-content: center
      align-items: flex-start
      .button-wrapper
        width: 70%
        +aspect-ratio(1, 1)
        .svg-outline-container
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
        &:first-of-type
          margin-bottom: $pentagon-width * 5
        &:last-of-type
          margin-top: $pentagon-width * 5

    @keyframes squiggle
      from 
        transform: translateX(14px)    
      to 
        transform: translateX(0px)          

    .squiggle-container
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      width: span(4 of 16)
      left: span(1 of 16)
      fill: none
      stroke: black
      stroke-width: 3.5px
      // transition: transform $fast ease
      .squiggle
        // animation: squiggle $slow ease-in infinite alternate
        width: 70%
        height: 20px
      &:hover
        // transform: translateX(3px)
        & ~ .option-container .option-inner .title
         transform: translateX(5px)     

    .option-container
      width: span(6 of 16)
      height: 0
      position: relative
      transition: transform $fast ease
      .option-inner
        display: block
        position: absolute
        top: 0
        left: 0%
        transform: translateY(-100%)

        .title
          pointer-events: none
          transition: transform $fast ease
          +big-brother-font
          margin: 0
          margin-bottom: -0.3em

        .subtitle
          position: absolute
          bottom: -6em
          pointer-events: none
          +subtitle-serif
          font-style: normal
          opacity: 1
          h4
            display: inline
            text-transform: lowercase
            font-weight: 200
            font-size: 14px
            letter-spacing: 0.08em
          .index
            font-family: serif
            font-size: 15px
            display: inline
            font-weight: 100
            color: #444
            text-align: right
            width: 38px
            display: inline-block
            letter-spacing: 0.1em

    .option-container:hover .option-inner .title
      transform: translateX(5px)

    .option-container
      .option-inner
        // // transform-origin: -200px 50%
        &.rotate-exit
          .title
            opacity: 1 
            transform: translateY(0)
            transition: transform $fast ease, 200ms opacity 30ms ease
          .subtitle
            opacity: 0

        &.rotate-exit.rotate-exit-active
          .title
            transform: translateY(-10px)
            opacity: 0

        &.rotate-enter
          .title
            opacity: 0
            transition: $med transform $med ease, $fast opacity $fast ease

        &.rotate-enter.rotate-enter-active
          .title
            opacity: 1


+after-sm-mobile
  .page-wrapper.selector-page
    .content 
      .pentagon-icon
        width: span(6 of 16)
      .squiggle-container
        stroke-width: 3px
      .option-container
        width: span(8 of 16)


+after-bg-mobile
  .page-wrapper.selector-page
    .content 
      .pentagon-icon
        width: span(6 of 16)
      .squiggle-container
        stroke-width: 3px
        width: span(3 of 16)
        left: span(2 of 16)
      .option-container
        width: span(7 of 16)
      .arrows-container
        width: span(1 of 16)
        margin-right: span(1 of 16)
        align-items: center

+after-md-desktop
  .page-wrapper.selector-page
    .content 
      margin-left: -$pentagon-width / 1.8
      .pentagon-icon
        // margin-left: span(3 of 16)
        width: span(11 of 32)
      .squiggle-container
        stroke-width: 3px
      .option-container
        width: span(6 of 16)