

// SCOPED through page name
.page-wrapper.simulation-page
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

  .content 
    display: flex
    height: 100%

    .nav-placeholder
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: $nav-height
      border-bottom: $simulation-border

    .description-panel
      flex-basis: span(4 of 16)
      padding: 22px
      // padding-right: 0
      display: flex
      flex-direction: column
      justify-content: space-between
      color: $sim-color
      margin-top: $nav-height
      border-right: $simulation-border

      .index
        display: none
        color: black
        opacity: 0.3
        +abolition-font
        font-size: 30px
        margin-top: 2em
        margin-bottom: 1em

      .question
        margin-top: 10px
        +middle-brother-font 
        font-weight: 500
        color: $sim-color
        margin-bottom: 0.1em

      .squiggle
        width: 30%
        fill: none
        stroke: $sim-color
        opacity: 0.7
        stroke-width: 6px
        height: 10px

      // .line
      //   display: block
      //   height: 1px
      //   width: 30px
      //   border-bottom: 1px solid $sim-color
      //   margin-bottom: 1em

      // .description
      //   +body-serif
      //   font-size: 12px
      //   line-height: 18px
      
      // .rules
      //   +body-serif

      .answer
        +subtitle-serif
        letter-spacing: 0.2em
        font-weight: 600
        display: inline-block
        height: 1.6em
        margin-bottom: 2em
        position: relative
        &:after
          content: ''
          display: block
          position: absolute
          left: 0
          bottom: 0
          width: 100%
          height: 1px
          background: rgba(255,255,255,0.4)
      
      h4
        +body
        font-weight: 100
        color: rgba(255,255,255,0.9)
        // letter-spacing: 0.02em
        margin-bottom: 1.3em


      .pentagon-icon
        width: 50px
        margin-top: 1.2em

    .simulation-panel
      // flex-basis: span(16 of 16)
      flex-basis: span(12 of 16) + gutter(1 of 16)
      height: 100%
      // margin-left: gutter(1 of 16)
      margin: 0
      overflow: hidden
      opacity: 1
      position: relative
      // box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.1)

      .canvas-sizer
        display: block
        width: 100%
        height: 100%
  
      .simulation-canvas
        position: absolute
        top: $nav-height
        left: 0
        right: 0
        bottom: 0
        cursor: pointer

      .cave-graphics
        position: absolute
        overflow: hidden
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 100%
        svg
          width: 100%
          fill: none
          stroke: rgba(255, 255, 255, 0.3)
          z-index: 0
          transition: transform 2s ease
        .cave-top
          position: absolute
          top: -10%
          left: 0
          width: 100%
        .cave-bottom
          position: absolute
          bottom: -10%
          left: 0
          width: 100%
        
        // .cave-outer
        //   position: absolute
        //   top: -2px
        //   bottom: -2px
        //   right: 0
        //   left: 0
        //   .cave-inner
        //     height: 100%
        //     display: flex
        //     flex-direction: column
        //     justify-content: space-between
        //     align-items: center

           

      .next-sim
        position: absolute
        bottom: 28px
        right: 28px
        text-align: right
        z-index: 10
        .active-area
          left: -70%
          top: -55%
          height: 155%
          width: 200%
        .svg-outline-container
          width: 60px
          height: 60px
          position: absolute
          right: 20px
          top: -20px
          z-index: -1
        h4
          +body
          z-index: 5
        h3
          +little-brother-font
          color: white
          text-transform: uppercase
          letter-spacing: 0.08em
          z-index: 5

  .pseudoCursor 
    position: absolute
    transition: transform .25s cubic-bezier(.82,.01,.21,1)
    z-index: 10
    &:after
      transform: translate(-50%, -50%)
      display: block
      position: relative
      content: ''
      width: 50px
      height: 50px
      border-radius: 50%
      border: 1px solid rgba(255,255,255,0.8)
      pointer-events: none

  .sim-backgrounds
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    .color,
    .texture
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    .color
      opacity: 0.8

    .texture
      background: url('../assets/texture-small.png')
      background-size: 10px 10px
      opacity: 0.2
      z-index: -1

  .sim-backgrounds
    transition: transform $med ease
    &.background-enter 
      transition:  transform $slow ease
      transform: translateY(100%)

    &.background-enter.background-enter-active 
      transform: translateY(0)

    &.background-exit
      transform: translateY(0)
      transition: transform $slow ease

    &.background-exit.background-exit-active
      transform: translateY(-100%)


  .overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    z-index: 5
    background: rgba(0, 0, 0, 0.4)
    color: white
   
    .inner
      width: 50%
      max-width: 350px
      text-align: center
      h3
        +body
        line-height: 30px

      .instruction-graphic
        display: block
        margin-top: 2em
        width: 100%
        img
          width: 50%
