
// SCOPED through page name
.simulation-page

  .overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    z-index: 5
    background: rgba(0, 0, 0, 0.4)
    color: white
   
    .inner
      width: 50%
      max-width: 350px
      text-align: center
      h3
        +body
        line-height: 20px


  .description-panel
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: span(4 of 16)
    overflow: hidden
    padding: 32px

    .index

    .question
      +middle-brother-font 

    .title
      +little-brother-font

    .description
      +body

    .rules
      +body

  .simulation-panel
    position: absolute
    top: 0
    bottom: 0
    left: span(4 of 16)
    right: 0
    // cursor: none
    overflow: hidden

  &.traffic .simulation-panel
    background: $traffic-color
  &.colony .simulation-panel
    background: $bats-color
  &.school .simulation-panel
    background: $fish-color
  &.crowd .simulation-panel
    background: $crowd-color
  &.slime .simulation-panel
    background: $mold-color
    
    .pixi-container
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

  .background
    img 
      opacity: 0.12
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: translate(-30%, 0)
      z-index: -5